on: [push, pull_request]

jobs:
  build_doc:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v3
      
      - name: Build LaTeX files
        run: |
          docker run -i --rm -v "$(pwd)/:/work" -w /work ghcr.io/xu-cheng/texlive-full bash -c '
            shopt -s globstar
            set -e
            for d_path in ./**/d_*.tex; do (
              cd "$(dirname $d_path)"
              latexmk -lualatex $(basename $d_path)
            ) done'
            
      - name: Upload PDF files
        uses: actions/upload-artifact@v3
        with:
          name: documentazione
          path: "**/*.pdf"
  
  build_website:
    runs-on: ubuntu-latest
    name: Directory Listings Index
    needs: build_doc
    steps:
      - name: Checkout
        uses: actions/checkout@v2.5.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Download Artifact DOCUMENTAZIONE
        uses: actions/download-artifact@v3.0.1
        with:
          name: documentazione
          path: ~/artifact
          
      - name: Generate Directory Listings Page
        uses: jayanta525/github-pages-directory-listing@v2.0.0
        with:
          FOLDER: ~/artifact/documentazione
          
      - name: Upload Directory Listings Page Artifact
        uses: actions/upload-artifact@v3
        with:
          name: documentazione_page
  
  build_ghpages:
    runs-on: ubuntu-latest
    name: Build GitHub Pages
    needs: [build_doc, build_website]
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: documentazione_page
      
      - name: Setup Pages
        uses: actions/configure-pages@v2
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: "**/*.pdf"
      
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
